@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ------------------------------------------------
    Reset & General Styles
------------------------------------------------ */

:root {
    --color-pri: #0e7b54;
    --color-sec: #e7e8e3;
    --color-pri-warmer: #2D6936;
    --color-bright-logo: #f7f2db;
    --color-dark: #0e0e0e;
    --color-bright: white;

    --footer-height: 7vh; /* global because used in several classes → TO DO: CLAMP*/
    --footer-padding: calc(var(--footer-height) * 0.175); /* global because used in several classes */

    --main-padding: 1.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    min-height: 100vh;
    margin: 0;
    
    background: var(--color-sec);

/* --------------- Typography --------------- */

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--color-dark);
}

h1, h2 {
    line-height: 1.25em;
}

h3, h4, h5, h6 {
    line-height: 1.5em;
}

h1 {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--color-pri-warmer);
    margin: 0 0 0.25em 0;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-pri-warmer);
    margin: 0 0 1em 0;
}

h3 {
    color: var(--color-dark);
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark);
    margin: 0 0 1em 0;
}

/* --------------- Links --------------- */

a {
    color: var(--color-pri);
    /* font-weight: bold; */
    text-decoration: underline dotted;
    text-decoration-color: inherit;
    text-underline-offset: 0.125em;
}

h1 a,
h2 a,
h3 a {
    color: inherit;
}

a:hover {
    /* color: var(--color-pri); */
    text-decoration: underline double;
    text-decoration-color: var(--color-pri);

}

/* --------------- misc --------------- */

button {
    width: max-content;

    padding: 1em 3em;
    
    background-color: var(--color-pri);
    color: var(--color-bright);
    
    border: none;
    border-radius: 0.4em;
    
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03em;
}

button:hover {
    background-color: var(--color-pri-warmer);
    cursor: pointer;
}

hr {
    border: none;
    border-top: 0.125rem solid var(--color-pri);
}

/* ------------------------------------------------
    General Layout
------------------------------------------------ */

main {
    background: var(--color-bright);

    padding: var(--main-padding);
    margin-bottom: var(--footer-height); /* otherwise some content might be hidden under the footer */
}

/* ------------------------------------------------
    Component: Header
------------------------------------------------ */

.header {
    position: sticky;
    top: 0;
    height: 17vh;
    background: var(--color-sec);

    color: var(--color-dark);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.header__title {
    font-weight: 500;
    font-size: 1.5rem;
    color: inherit;

    position: relative;
    bottom: -0.75em;
}

/* ------------------------------------------------
    Component: NavBar
------------------------------------------------ */

/* Height is set extrinsicly by the global variable --footer-height → browser behaviours are quite divers when stretching SVGs properly vertically, especially to keep the container's ratio → therefore much calc and generally much code needed. An alternative would be setting the size intrinsicly by setting the SVG's sizes with em and font-size → probably less and less complicated code. */

.navbar {
    position: fixed;
    bottom: 0;
    z-index: 998;

    width: 100%;
    height: var(--footer-height);
    padding: var(--footer-padding) 0;

    background: var(--color-pri);

    display: flex;
    justify-content: space-evenly;
}

.navbar__a {
    --footer-padding-double: calc(var(--footer-padding) * 2);
    --height: calc(var(--footer-height) - var(--footer-padding-double));
    height: var(--height);
    aspect-ratio: 1;

    color: var(--color-dark);
    font-size: 0.75rem;
    line-height: 1em;
    text-decoration: none;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar__a:hover,
.navbar__a--active {
    color: var(--color-sec);
}

.navbar__icon {
    fill: currentColor;
}

/* ------------------------------------------------
    Component: SplashScreen
------------------------------------------------ */

.splashscreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    
    width: 100%;
    height: 100vh;
    background: var(--color-pri);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.splashscreen__logo-container {
    --dimensions: 50; /* width in % and height in vh – appending unit with calc trick */
    --ratio: 1;
    
    width: calc(var(--dimensions) * 1%);
    max-width: calc(calc(var(--dimensions) * 1vh) * var(--ratio));
    aspect-ratio: var(--ratio);
    max-height: calc(var(--dimensions) * 1%);
    /* clip-path: polygon(0% 3.5%, 100% 0%, 90.5% 98%, 14% 100%); */

    /* padding: 3rem; */
    border-radius: 5%;

    background: var(--color-dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

.splashscreen__logo {
    width: 75%;
}

.splashscreen__logo__pictogram {
    fill: var(--color-bright-logo);
}

.splashscreen__logo__text {
    fill: var(--color-pri);
}

.splashscreen__claim {
    max-width: 75vw;
    margin: 0;
    font-weight: 400;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    color: var(--color-sec);
} 

.splashscreen--fadeout {
    /* animation: fadeout 0.3s linear 2s 1 forwards; */
    animation-name: fadeout;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-delay: 2s;
    /* animation-delay: will be assigned by the React component */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* ------------------------------------------------
    Component: TakePicture → EXPERIMENTAL
------------------------------------------------ */

.takepicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    min-height: calc(100vh - var(--footer-height));
}

.takepicture h1 {
    font-size: 3em;
    text-align: center;
}

.takepicture video {
    --frame-space-vertically: calc(var(--footer-height) + calc(var(--main-padding) * 2));
    width: 100%;
    max-height: calc(100vh - var(--frame-space-vertically));
}

/* ------------------------------------------------
    Component: Tour → IN PROGRESS
------------------------------------------------ */

.tour {
    width: 100%;
    height: 100vh;
    padding-top: clamp(var(--main-padding), calc(var(--main-padding) + 2vh), calc(var(--main-padding) * 3));
    padding-bottom: clamp(var(--main-padding), calc(var(--main-padding) + 2vh), calc(var(--main-padding) * 3));
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tour__slide1__image {
    overflow: hidden;
}

.tour__slide1__image img {
    
}

.tour__p {
    font-size: 1.125rem;
}

.tour__pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.tour__pagination__item {
    display: block;
    width: 2rem;
    height: 0.5rem;
    border-radius: 99999rem;
    background-color: var(--color-bright);
}

.tour__pagination__item:hover,
.tour__pagination__item--active {
    cursor: pointer;
    background-color: var(--color-pri);
}

/* ------------------------------------------------
    Animations
------------------------------------------------ */

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}