@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ------------------------------------------------
    Reset & General Styles
------------------------------------------------ */

:root {
    --color-pri: #0e7b54;
    --color-sec: #e7e8e3;
    --color-pri-warmer: #2D6936;
    --color-bright-logo: #f7f2db;
    --color-dark: #0e0e0e;
    --color-bright: white;
    --color-grey: #c9c9c9;

    --color-fail: #F46767;
    --color-cat1: #f0d06e;
    --color-cat2: #74f06e;
    --color-cat3: #2cbab8;
    --color-cat4: #cb6ef0;
    --color-cat5: #be2b72;
    --color-cat6: #6ee7f0;
    --color-cat7: #866b1b;
    --color-cat8: #ea982d;
    --color-cat9: #e90ae9;

    --header-height: 12vh;
    --footer-height: 7vh; /* global because used in several classes → TO DO: CLAMP? */
    --main-padding: 1.5rem;
    
    --border-radius: 1.25rem;
    --border-radius-small: 0.5rem;

    --footer-padding: calc(var(--footer-height) * 0.175);
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    
    background: var(--color-sec);

/* --------------- Typography --------------- */

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--color-dark);
}

h1, h2 {
    line-height: 1.25em;
}

h3, h4, h5, h6 {
    line-height: 1.5em;
}

h1 {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--color-pri-warmer);
    margin: 0 0 0.25em 0;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-pri-warmer);
    margin: 0 0 1em 0;
}

h3 {
    color: var(--color-dark);
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-dark);
    margin: 0 0 1em 0;
}

/* --------------- Links --------------- */

a {
    color: var(--color-pri);
    /* font-weight: bold; */
    text-decoration: underline dotted;
    text-decoration-color: inherit;
    text-underline-offset: 0.125em;
}

h1 a,
h2 a,
h3 a {
    color: inherit;
}

a:hover {
    /* color: var(--color-pri); */
    text-decoration: underline double;
    text-decoration-color: var(--color-pri);

}

/* --------------- misc --------------- */

button {
    width: max-content;

    padding: 1em 3em;
    
    background-color: var(--color-pri);
    color: var(--color-bright);
    
    border: none;
    border-radius: var(--border-radius-small);
    
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03em;
}

button:hover {
    background-color: var(--color-pri-warmer);
    cursor: pointer;
}

hr {
    border: none;
    border-top: 0.125rem solid var(--color-pri);
}

img,
svg,
video {
    display: block;
}

/* ------------------------------------------------
    General Layout
------------------------------------------------ */

/* main is always used together with header and footer! */
main {
    background: var(--color-bright);
    padding: var(--main-padding);
    margin-bottom: var(--footer-height); 
    /* otherwise some content might be hidden under the footer */
}

iframe {
    display: block;
    width: 100%;
    border: none;
}

/* ------------------------------------------------
    Component: Header
------------------------------------------------ */

.header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    background: var(--color-sec);

    color: var(--color-dark);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.header__title {
    font-weight: 500;
    font-size: 1.25rem;
    color: inherit;

    position: relative;
    bottom: -0.25em;
}

/* ------------------------------------------------
    Component: NavBar
------------------------------------------------ */

/* Height is set extrinsicly by the global variable --footer-height → browser behaviours are quite divers when stretching SVGs properly vertically, especially to keep the container's ratio → therefore much calc and generally much code needed. An alternative would be setting the size intrinsicly by setting the SVG's sizes with em and font-size → probably less and less complicated code. */

.navbar {
    position: fixed;
    bottom: 0;
    z-index: 998;

    width: 100%;
    height: var(--footer-height);
    padding: var(--footer-padding) 0;

    background: var(--color-pri);

    display: flex;
    justify-content: space-evenly;
}

.navbar__a {
    --footer-padding-double: calc(var(--footer-padding) * 2);
    --height: calc(var(--footer-height) - var(--footer-padding-double));
    height: var(--height);
    aspect-ratio: 1;

    color: var(--color-dark);
    font-size: 0.75rem;
    line-height: 1em;
    text-decoration: none;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar__a:hover,
.navbar__a--active {
    color: var(--color-sec);
}

.navbar__icon {
    fill: currentColor;
}

/* ------------------------------------------------
    Component: SplashScreen
------------------------------------------------ */

.splashscreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    
    width: 100%;
    height: 100vh;
    background: var(--color-pri);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.splashscreen__logo-container {
    --dimensions: 50; /* width in % and height in vh – appending unit with calc trick */
    --ratio: 1;
    
    width: calc(var(--dimensions) * 1%);
    max-width: calc(calc(var(--dimensions) * 1vh) * var(--ratio));
    aspect-ratio: var(--ratio);
    max-height: calc(var(--dimensions) * 1%);
    /* clip-path: polygon(0% 3.5%, 100% 0%, 90.5% 98%, 14% 100%); */

    /* padding: 3rem; */
    border-radius: 5%;

    background: var(--color-dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

.splashscreen__logo {
    width: 75%;
}

.splashscreen__logo__pictogram {
    fill: var(--color-bright-logo);
}

.splashscreen__logo__text {
    fill: var(--color-pri);
}

.splashscreen__claim {
    max-width: 75vw;
    margin: 0;
    font-weight: 400;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    color: var(--color-sec);
} 

.splashscreen--fadeout {
    /* animation: fadeout 0.3s linear 2s 1 forwards; */
    animation-name: fadeout;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-delay: 2s;
    /* animation-delay: will be assigned by the React component */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* ------------------------------------------------
    Component: Tour
------------------------------------------------ */

.tour {
    --p: var(--main-padding);

    width: 100%;
    height: 100vh;
    padding-top: clamp(var(--p), calc(var(--p) + 2vh), calc(var(--p) * 3));
    padding-bottom: clamp(var(--p), calc(var(--p) + 2vh), calc(var(--p) * 3));
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.tour__text,
.tour__buttons {
    padding-left: var(--p);
    padding-right: var(--p);
}

.tour__text__p {
    font-size: 1.125rem;
}

.tour__image-container {
    width: 100%;
}

.tour__pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.tour__pagination__item {
    display: block;
    width: 2rem;
    height: 0.5rem;
    border-radius: 99999rem;
    background-color: var(--color-bright);
}

.tour__pagination__item:hover,
.tour__pagination__item--active {
    cursor: pointer;
    background-color: var(--color-pri);
}

/* --------------- Slide 1 --------------- */

.tour--1 .tour__image-container {
    overflow: hidden;
    display: flex;
    justify-content: end;
}

.tour--1 .tour__image {
    display: block;
}

/* --------------- Slide 2 --------------- */

.tour--2 {
    padding-top: clamp(var(--p), 10vh, calc(var(--p) * 5));
    text-align: center;
}

.tour--2 .tour__text {
    position: relative;
    top: -5vh;
}

.tour--2 .tour__image {
    display: block;
    width: 100%;
}

/* --------------- Slide 3 --------------- */

.tour--3 {
    padding-top: clamp(var(--p), 20vh, calc(var(--p) * 8));
    background: url("images/greencornerblob.svg") right top no-repeat;
    text-align: center;
}

.tour--3 .tour__image-container {
    overflow: hidden;
    display: flex;
    padding-left: var(--p);
    padding-right: var(--p);
}

.tour--3 .tour__image {
    display: block;
    width: 100%;
}

/* ------------------------------------------------
Component: iFrame
------------------------------------------------ */

.iframe {
    height: calc(var(--main-height) - calc(var(--main-padding) * 2));
    
    background: var(--color-sec); /* temporary */
}

/* ------------------------------------------------
Component: TakePicture
------------------------------------------------ */

.takepicture {
    --button-height: 12vh; /* needed due to general height constraints and calculate proper sizes of other elements */
    
    height: var(--main-height);
    
    background: linear-gradient(to bottom, #f0f0ed 0%, var(--color-sec) calc(100% - var(--border-radius)));
    
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: calc(var(--main-padding) * 0.5);
}

.takepicture__question {
    text-align: center;
}

.takepicture__media-box {
    /* ----- make it always a square ----- */
    width: calc(var(--main-height) - var(--button-height) - calc(var(--main-padding) * 2.5)); /* 2.5 = padding top and bottom + flex gap */
    max-width: calc(100vw - calc(var(--main-padding) * 2));
    max-height: calc(100vw - calc(var(--main-padding) * 2)); 
    flex: 1;

    position: relative;
}

.takepicture__frame {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    
    /* ----- Border only at the 4 corners ----- */
    
    --b: 0.1875rem; /* border thickness */
    --c: transparent 90deg, var(--color-pri) 0; /* border color */
    --p: 0.625rem; /* used also in other class down below*/

    padding: var(--p);
    
    background:
        conic-gradient(from 90deg  at top    var(--b) left  var(--b), var(--c)) 0 0,
        conic-gradient(from 180deg at top    var(--b) right var(--b), var(--c)) 100% 0,
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b), var(--c)) 0 100%,
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c)) 100% 100%;
    background-size: 10% 10%; /* border length */
    background-repeat: no-repeat;
}

.takepicture__canvas { 
    width: 100%;
    aspect-ratio: 1;
    background-color: #f4f4f4;
    border-radius: var(--border-radius);
}

.takepicture__video,
.takepicture__photo {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.takepicture__processing-box {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: clip;

    position: relative;
}

.u-blur {
    filter: blur(0.5rem);
}

.takepicture__processing-animation {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;

    animation-name: processing-image;
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.takepicture__button-box {
    display: flex;
    justify-content: center;
}

.takepicture__button {
    width: var(--button-height);
}
.takepicture__button__background {
    fill: var(--color-pri);
}
.takepicture__button__icon {
    fill: var(--color-bright);
}

.takepicture__button:hover {
    cursor: pointer;
}
.takepicture__button:hover .takepicture__button__background {
    fill: var(--color-pri-warmer);
}

/* Append toggle class .t-inactive to .takepicture__button element to make the button inactive */

.t-inactive .takepicture__button__background {
    fill: var(--color-grey);
}
.t-inactive .takepicture__button__icon {
    fill: var(--color-bright);
}

/* ------------------------------------------------
    Component: ShowResult
------------------------------------------------ */

.showresult {
    height: var(--main-height);
    background: var(--color-sec);

    /* TO DO: solve conflict of global main-padding, keep main tag! */
    padding: 0; 
}

.showresult__flexbox {
    height: calc(var(--main-height) - var(--footer-height));
    padding: var(--main-padding);

    border-radius: var(--border-radius);
    overflow: clip; /* for when the failed image is extremely blurred */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: calc(var(--main-padding) / 2);
}

.showresult__photo {
    background-color: #f4f4f4;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--border-radius);
}
    .m-fail .showresult__photo {
        filter: blur(1.5rem);
    }

.showresult__text-box {
    background-color: var(--color-bright);
    padding: calc(var(--main-padding) / 2) var(--main-padding);
    border-radius: var(--border-radius);
}
    /* -- Place it in the middle when there's no result -- */

    .m-fail .showresult__text-box {
        position: absolute;
        margin: var(--main-padding);
        left: 0;
        right: 0;
    }

    .m-fail h3 {
        color: var(--color-fail);
    }

/* ----- Refresh Button ----- */

.showresult__button {
    --button-height: var(--footer-height);

    height: var(--button-height);
    aspect-ratio: 1;

    position: relative;
    top: calc(-1 * calc(var(--main-padding) / 2));

    display: block;
    margin: 0 auto;

    background-color: var(--color-pri);
    color: var(--color-bright);

    padding: calc(var(--button-height) * 0.25);
    border-radius: 99999rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.showresult__button__icon {
    fill: currentColor;
}

/* ----- Modifier classes to change background color according to result ----- */

.m-fail { background-color: var(--color-fail); }
.m-cat1 { background-color: var(--color-cat1); }
.m-cat2 { background-color: var(--color-cat2); }
.m-cat3 { background-color: var(--color-cat3); }
.m-cat4 { background-color: var(--color-cat4); }
.m-cat5 { background-color: var(--color-cat5); }
.m-cat6 { background-color: var(--color-cat6); }
.m-cat7 { background-color: var(--color-cat7); }
.m-cat8 { background-color: var(--color-cat8); }
.m-cat9 { background-color: var(--color-cat9); }

/* ------------------------------------------------
    Animations
------------------------------------------------ */

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes processing-image {
    0% {
        height: 100%;
    }
    50% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}